@charset "UTF-8";


/* Variables */
:root {
  --mnr-color1: #0d1f2c;
  --mnr-color2: #cb2155;
  --mnr-color3: rgb(231,13,108);
  --mnr-color4: #91d4df;
  --mnr-colorWhite: white;
  --mnr-colorBlack: rgb(17,19,20);
  --mnr-colorGray: rgb(73, 83, 86);
  --mnr-colorError: #be1b1b;
  --mnr-colorOk: #00A86B;
  --mnr-colorWarn: #ffeb3b;
  --mnr-colorDisabled: rgba(16, 16, 16, 0.3);
  --mnr-colorInput: white;

  --mnr-textColor: var(--mnr-colorBlack);
  --mnr-inputTextColor: var(--mnr-colorBlack);

  --mnr-inputRadius: 3px;
  --mnr-inputBorder: 1px solid rgba(0,0,0,0.1);
  --mnr-inputHeight: 50px;
  
  --mnr-mainMaxWidth: 5000px;
  --mnr-bodyMaxWidth: 1600px;
  --mnr-contentWidth: 1300px;
  --mnr-contentReadWidth: 900px;
  --mnr-contentMinWidth: 320px;

  --mnr-padSides: 40px; 
  

  --mnr-txtS1: 59px;
  --mnr-txtS2: 37px;
  --mnr-txtS3: 24px;
  --mnr-txtS4: 16px; /*regular*/
  --mnr-txtS5: 14px;
  --mnr-txtS6: 9px;

  --mnr-gutter: 20px;
}

/*reset*/
*, ::after, ::before{
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  max-width: 100%;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-align: left;
  font: inherit;
  font-family: "regular";
  font-size: var(--mnr-txtS4); 
  color: var(--mnr-textColor);
  outline: none;
  -webkit-text-size-adjust: 100%;
  line-height: 1.4;

  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  

  -webkit-touch-callout: none;  
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav{
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
span,strong,a,option{
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}
a,a:hover{
  text-decoration: none; 
}
a:focus{
  color: none;
}

/*main setup*/
html {
  height: auto;
  position: relative;
  overflow-x: hidden;
  min-width: var(--mnr-contentMinWidth);
  scroll-behavior: smooth;
}
html.noSelection *{
  user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;  
}


::-webkit-scrollbar {
    width: 10px;
    max-width: 10px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

body{
  width: 100%;
  max-height: 100vh;
  height: 100vh;
  overflow: hidden; 
}
html[mnr-loading = "false"] body{
  max-height: unset;
  height: auto;
  overflow: initial;
}
div, section, main {
  width: auto;
  height: auto;
}
main{
  max-width: var(--mnr-mainMaxWidth);
  width: 100%;
  min-height: 90vh;

  display: block;
  left: 0;
  right: 0;
  position: relative;
  margin: auto;
}


    
@media only screen and (min-width: 3000px){
  main{
    max-width: var(--mnr-bodyMaxWidth);
  }
}
@media only screen and (max-width: 320px){
  html {
      overflow-x: auto;
      min-width: var(--mnr-minContentWidth);
  }
}
@media only screen and (max-width: 1140px){
   :root {
     --mnr-padSides: 30px;
   }
} 
@media only screen and (max-width: 960px){
   :root {
     --mnr-padSides: 20px;
   }
}   
@media only screen and (max-width: 500px){
   :root {
     --mnr-padSides: 15px;
   }
} 


  

/*texts*/
h1,h2,h3,h4,h5,h6,.fontTitle,.fontTitle2{
  font-family: "title";
  font-weight: 400;
}
.fontRegular2{
  font-family: "regular2";
}
.fontTitle2{
  font-family: "title2";
}
h6{
  font-size:var(--mnr-txtS6);
}
h5{
  font-size:var(--mnr-txtS5);
}
h4{
  font-size:var(--mnr-txtS4);
}
h3{
  font-size:var(--mnr-txtS3);
}
h2{
  font-size:var(--mnr-txtS2);
}
h1{
  font-size:var(--mnr-txtS1);
}
.fontLight{
  font-weight: lighter;
}
strong,b,.fontBold{
  font-weight: bold;
}
    


/*inputs*/
input:focus::-webkit-input-placeholder{
  color: transparent;
}
input:focus:-moz-placeholder{
  color: transparent;
}
input:focus::-moz-placeholder{
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}
input:focus{
  outline: none
}
textarea:focus::-webkit-input-placeholder{
  color: transparent;
}
textarea:focus:-moz-placeholder{
  color: transparent;
}
textarea:focus::-moz-placeholder{
  color: transparent;
}
textarea:focus:-ms-input-placeholder {
  color: transparent;
}
textarea:focus{
  outline: none
}
input,select,textarea,button,.button{
  -o-text-overflow: clip;
  text-overflow: clip;
  min-height: var(--mnr-inputHeight);
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  width: 100%;
  color: var(--mnr-inputTextColor,black);
}
.selectable,
input,
textarea{
  user-select: text;
  -o-user-select: text;
  -ms-user-select: text;
  -moz-user-select: text;
  -khtml-user-select: text;
  -webkit-user-select: text;
  -webkit-touch-callout: text;
}
textarea{
  resize: none;
}
/* Chrome, Safari, Edge, Opera */
input.noArrow::-webkit-outer-spin-button,
input.noArrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number].noArrow{
  -moz-appearance: textfield;
}
input[type=checkbox], 
input[type=radio] {
  height: 15px;
  width: 15px;
  min-height: 15px;
  background: #fff;
  cursor: pointer;
  display:inline-block;
  padding: 0;
}
input[type=checkbox]:checked{
  background: var(--mnr-colorOk);
}
::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
}
:-moz-placeholder{ 
   color: inherit;
   font-size: var(--mnr-txtS4);
   font-family: "regular";
   opacity: 1;
}
:-ms-input-placeholder{ 
   color: inherit;
   font-size: var(--mnr-txtS4);
   font-family: "regular";
   opacity: 1;
}
::-moz-placeholder{ 
   color: inherit;
   font-size: var(--mnr-txtS4);
   font-family: "regular";
   opacity: 1;
}
::-webkit-input-placeholder{ 
   color: inherit;
   font-size: var(--mnr-txtS4);
   font-family: "regular";
   opacity: 1;
}
input[type="submit"],button,.button{
  border: unset;
  cursor: pointer;

  transition: all .2s;
  -o-transition: all .2s;
  -ms-transition: all .2s;
  -moz-transition: all .2s;
  -khtml-transition: all .2s;
  -webkit-transition: all .2s;
  
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack:center;
  align-content:center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  opacity: 1;
  text-align: center;
}
input[type="submit"] > *,
button > *,
.button > *{
  text-align: center;
  
  transition: all .2s;
  -o-transition: all .2s;
  -ms-transition: all .2s;
  -moz-transition: all .2s;
  -khtml-transition: all .2s;
  -webkit-transition: all .2s;
}
input[type="submit"].disabled,
input[type="submit"]:disabled, 
input[type="submit"]:disabled[disabled],
button.disabled, 
button:disabled, 
button:disabled[disabled],
.button.disabled, 
.button:disabled, 
.button:disabled[disabled]{
  color: black;
  opacity: 1;
  background-color: var(--mnr-colorDisabled);
  cursor: not-allowed;
}


/*layout*/
section,
.content{
  position: relative;
  width: 100%;
  min-width: var(--mnr-contentMinWidth);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
section{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: start;
  -ms-flex-pack: start;

  justify-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.content{
  max-width: var(--mnr-contentWidth);
  padding-left: var(--mnr-padSides);
  padding-right: var(--mnr-padSides);
}
.contentRead{
  max-width: var(--mnr-contentReadWidth);
}
.contentFull{
  max-width: 100%;
}
.contentNoPad{
  padding-left: 0px;
  padding-right: 0px;
}
.contentFixed{
  position: fixed;
  max-width: var(--mnr-bodyMaxWidth);
}


.scroll{
  overflow-y:auto;
}
.scroll::-webkit-scrollbar {
  width: 5px;
}
.scroll::-webkit-scrollbar-track {
  background: transparent; 
}
.scrollWhite::-webkit-scrollbar-thumb {
  background: var(--mnr-colorWhite);
  opacity: 0.7;
}
.scrollWhite::-webkit-scrollbar-thumb:hover {
  opacity: 0;
}
.scrollBlack::-webkit-scrollbar-thumb {
  background: var(--mnr-colorBlack); 
  opacity: 0.7;
}
.scrollBlack::-webkit-scrollbar-thumb:hover {
  opacity: 0;
}
  
.hide{
  display: none;
}



.flxR,
.flxC,
.flxGrd{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: start;
  -ms-flex-pack: start;

  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}
.flxR,
.flxGrd{
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;

  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flxC{
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flxNoWrap{
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}      
.ordC{
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack:center;
  align-content:center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.ordS{
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack:start;
  align-content:flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.ordE{
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-line-pack:end;
  align-content:flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.ordSB{
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.ordSA{
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.itmC{
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack:center;
  align-content:center;
}
.itmS{
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack:start;
  align-content:flex-start;
}
.itmE{
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-line-pack:end;
  align-content:flex-end;
}

.lnC{
  -ms-flex-line-pack:center;
  align-content:center;
}
.lnS{
  -ms-flex-line-pack:start;
  align-content:flex-start;
}
.lnE{
  -ms-flex-line-pack:end;
  align-content:flex-end;
}
.lnSB{
  -ms-flex-line-pack:justify;
  align-content:space-between;
}
.lnSA{
  -ms-flex-line-pack:distribute;
  align-content:space-around;
}

.flxGrd{
  --mnr-grdWidth: 100%;
  --mnr-grdMaxWidth: 100%;
  margin-right: calc(-1 * var(--mnr-gutter));
  width: calc(var(--mnr-grdWidth) + var(--mnr-gutter));
  max-width: calc(var(--mnr-grdMaxWidth) + var(--mnr-gutter));
}
.content.flxGrd{
  --mnr-gutter: var(--mnr-padSides);
  --mnr-grdMaxWidth: var(--mnr-contentWidth);
}
.flxGrd > *{
  --mnr-grdCellSpace : var(--mnr-cellSpace, 100%);
  margin-right: var(--mnr-gutter);
  margin-bottom: var(--mnr-gutter);
  width: calc(var(--mnr-grdCellSpace)  - (var(--mnr-gutter)));
  max-width: calc(var(--mnr-grdCellSpace)  - (var(--mnr-gutter)));
}



/*animations*/
.trans2{
 transition: all .2s;
 -o-transition: all .2s;
 -ms-transition: all .2s;
 -moz-transition: all .2s;
 -khtml-transition: all .2s;
 -webkit-transition: all .2s;
}
.trans3{
 transition: all .3s;
 -o-transition: all .3s;
 -ms-transition: all .3s;
 -moz-transition: all .3s;
 -khtml-transition: all .3s;
 -webkit-transition: all .3s;
 
}
.trans5{
 transition: all .5s;
 -o-transition: all .5s;
 -ms-transition: all .5s;
 -moz-transition: all .5s;
 -khtml-transition: all .5s;
 -webkit-transition: all .5s;
 
}
.trans8{
 transition: all .8s;
 -o-transition: all .8s;
 -ms-transition: all .8s;
 -moz-transition: all .8s;
 -khtml-transition: all .8s;
 -webkit-transition: all .8s;
 
}
.trans16{
 transition: all 1.6s;
 -o-transition: all 1.6s;
 -ms-transition: all 1.6s;
 -moz-transition: all 1.6s;
 -khtml-transition: all 1.6s;
 -webkit-transition: all 1.6s;
}

     
     
/*images*/
img{
  pointer-events: none;
  object-fit: contain;
}
img.imgLoading{
  opacity: 0;
}  
img.imgLoading.imgLoaded{
  opacity: 1;
}
.backCover{
  background-size: cover;
  background-repeat: no-repeat;
}
.backContain{
  background-size: contain;
  background-repeat: no-repeat;
}
.backFixed{
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}     
             
       
 

/*misc*/
.screenAbs{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
.shadow{
  box-shadow: 0px 4px 4px 4px rgb(0 0 0 / 10%);
  -webkit-box-shadow: 0px 4px 4px 4px rgb(0 0 0 / 10%);
}
